<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<bean id = "StudentDao" class="springtest03_使用接口.StudentDaoImpl">
	</bean>
	<bean id = "StudentService" class="springtest03_使用接口.StudentServiceImpl">
		<constructor-arg ref="StudentDao"></constructor-arg>
	</bean>
	<bean id="StudentController" class="springtest03_使用接口.StudentController">
		<constructor-arg ref="StudentService"></constructor-arg>
	</bean>

</beans>
